<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Personal blog: home page</title>
</head>
<body>
	<!-- nav bar section start -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Sp Tech</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Create
						post</a></li>

				<li class="nav-item"><a class="nav-link " href="login">Login</a></li>
				<li class="nav-item"><a class="nav-link " href="register">Register</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<!-- nav bar section end -->
	<!-- header section start -->

	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Sapkota Technical Blog</h1>
			<p>This is a template for a simple marketing or informational
				website. It includes a large callout called a jumbotron and three
				supporting pieces of content. Use it as a starting point to create
				something more unique.</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn
					more »</a>
			</p>
		</div>
	</div>
	<!-- header  section end -->
	<!-- post  section start -->

	<div class="container-fluid">
		<div class="row">
			<!-- side bar section start -->

			<div class="col-md-3 mt-2">
				<div class="card mt-2" style="width: 19rem;">
					<div class="card-header text-center">Latest Posts</div>
					<ul class="list-group list-group-flush text-center"
						th:each="p:${latest5posts}">
						<li class="list-group-item"><a href=“#” th:text="${p.title}"
							th:href="@{/posts/view/{id}/(id=${p.id})}"> Work Begins on
								HTML5.1</a></li>

					</ul>
				</div>
			</div>
			<!-- side bar section end -->
			<!-- main post view section start -->

			<div class="col-md-8 " id="posts">
				<div class="card mt-4" th:each="p : ${latest3posts}">
					<img class="rounded mx-auto d-block mt-2"
						th:src="@{./img/user2.jpg}" alt="Card image cap" width="300"
						height="300">
					<div class="card-body">
						<h5 class="card-title" th:text="${p.title}">post title</h5>
						<p class="card-text" th:text="${p.body}">Post content</p>
						<p class="card-text">
							<span>Posted by </span><small class="text-muted" th:text="${p.author.getFullName}">post user</small>
						
							<span>on  </span><small class="text-muted"
								th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">time</small>
						</p>
					</div>
				</div>
			</div>
			<!-- main post view section end -->

		</div>
	</div>
	<!-- post  section end -->
		<!-- footer section section start -->		
	
	<footer class="text-center mt-2 text-white bg-dark"> &copy;
		Spring MVC Blog System, 2016 </footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>